
body {
    padding: 0;
    margin: 0;
    background-color: #f8f4f4;
}

#main-heading {
    text-align: center;
    color: #282828;
}

#teams-table, #players-table, #comp-table {
    text-align: center;
    position: relative;
    margin: 5.9% 0% 3% 28%;
    width: 70%;
    border: 1px;
}

#teams-table tr:nth-child(odd), #players-table tr:nth-child(odd), #comp-table tr:nth-child(odd) {
    background-color: #f0d8f8;
    text-color: #282828;
}

#teams-table tr:nth-child(even), #players-table tr:nth-child(even), #comp-table tr:nth-child(even) {
    background-color: #dec3eb;
    text-color: #dee2e6;
}

#teams-table thead tr th, #players-table thead tr th, #comp-table thead tr th {
    background-color: #2f262d;
    text-align: center;
}

#teams-table thead, #players-table thead, #comp-table thead {
    color: #f8f4f4;
}

#teams-table_length, #players-table_length, #comp-table_length {
    margin-left: 28.1%;
    margin-top: 2.5%;
}

#teams-table_filter, #players-table_filter, #comp-table_filter {
    margin-top: 2.5%;
    margin-right: 2.1%;
}

#teams-table_info, #players-table_info, #comp-table_info {
    margin-left: 28.1%;
    margin-top: -3.5%;
}

#teams-table_paginate, #players-table_paginate, #comp-table_paginate {
    position: absolute;
    margin-left: 52.5%;
    margin-top: -1%;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.side-menu {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background-color: #f8f4f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5vh;
}

.side-menu .break-line {
    border-bottom: solid 0.3vh #494949;
    margin: 5%;
}

.side-menu a {
    text-decoration: none;
    padding: 2% 2% 2% 2%;
    display: block;
    font-size: x-large;
    color: #646464;
    transition: 0.3s;
}

#close-menu-btn {
    display: flex;
    position: absolute;
    top: -3%;
    right: 4.5%;
    padding-bottom: 20%;
    font-size: xxx-large;
    margin-left: 20%;
}

#close-menu-btn:hover {
    cursor: pointer;
}

.top-bar {
    width: 100%;
    height: 9vh;
    background-color: #282828;
    transition: 0.5s;
    padding: 0.5%;
}

.top-bar a {
    font-size: xx-large;
    font-family: "Arial";
    font-weight: bold;
    padding: 0.5vh;
    color: #f8f4f4;
    text-decoration: none;
    transition: 0.3s;
}

#team-menu, #player-menu, #comp-menu {
    position: absolute;
    margin-top: 5.7%;
    margin-left: 4%;
    display: block;
    text-align: center;
    z-index: 2;
}

#comp-menu {
    margin-top: 5.3%;
}

#team-menu {
    margin-top: 4%;
}

#team-menu .form-control, #player-menu .form-control, #comp-menu .form-control, #comp-menu #date_picker {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    text-align: center;
    margin-top: 10%;
    border: 2px solid;
    background-color: #f8f4f4;
}

#comp-menu .form-control, #comp-menu #date_picker {
    margin-top: 3%;
}

#team-menu .btn, #player-menu .btn, #comp-menu .btn {
    margin-top: 5%;
    /*     margin-left: 27.5%; */
    align-self: center;
    background-color: #2f262d;
    color: white;
}

#player-menu .form-control {
    margin-top: 3px;
    width: 8.5vw;
}

#player-menu {
    margin-left: 1.2vw;
}

#player-menu #add-player-btn {
    margin-bottom: 20px;
}

#del-col {
    width: 0px !important;
}

.del-player-btn, .del-team-btn, .del-comp-btn {
    font-size: large;
    background: #ff8787;
    width: 2.5vw;
}

#main-div {
    transition: margin-left 0.5s;
}

#teams-table_wrapper, #players-table_wrapper, #comp-table_wrapper {
    display: flow-root;
}