body {
    padding: 0;
    margin: 0;
    background-color: #f8f4f4;
}

#main-heading {
    text-align: center;
    color: #282828;
}

#teams-table {
    text-align: center;
    position: relative;
    margin: 3% 0% 3% 28%;
    width: 70%;
    border:1px;
}

#teams-table tr:nth-child(odd) {
    background-color: #f0d8f8;
    text-color: #282828;
}

#teams-table tr:nth-child(even) {
    background-color: #dec3eb;
    text-color: #dee2e6;
}

#teams-table thead tr th{
    background-color: #2f262d;
}

#teams-table thead{
    color:#f8f4f4;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.side-menu {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background-color: #f8f4f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5vh;
}

.side-menu .break-line {
    border-bottom: solid 0.3vh #494949;
    margin: 5%;
}

.side-menu a {
    text-decoration: none;
    padding: 2% 2% 2% 2%;
    display: block;
    font-size: x-large;
    color: #646464;
    transition: 0.3s;
}

#close-menu-btn {
    display: flex;
    position: absolute;
    top: -3%;
    right: 4.5%;
    padding-bottom: 20%;
    font-size: xxx-large;
    margin-left: 20%;
}

#close-menu-btn:hover {
    cursor: pointer;
}

.top-bar {
    width: 100%;
    height: 9vh;
    background-color: #30646c;
    transition: 0.5s;
    padding: 0.5%;
}

.top-bar a {
    font-size: xx-large;
    font-family: "Arial";
    font-weight: bold;
    padding: 0.5vh;
    color: #f8f4f4;
    text-decoration: none;
    transition: 0.3s;
}

#team-menu{
    position: absolute;
    margin-top: 5%;
    margin-left: 4%;
    display: block;
    text-align:center;
}

#team-menu .form-control{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    text-align: center;
}

#team-menu .btn {
    margin-top: 5%;
    /*     margin-left: 27.5%; */
    align-self:center;
    background-color: #2f262d;
    color: white;
}

#main-div {
    transition: margin-left 0.5s;
}