<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>StartingPage</title>

        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <script src="../js/scripts.js"></script>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <b class="navbar-brand" id="brand-name"> Prosport </b>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/prosport/" role="button" id="home-button"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button" id="teams-button"> Teams </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container" id="teams-table">

        </div>

    </body>
</html>